@media only screen and (min-width: 950px) {
nav {
	width: 80% !important;
	margin-left: 10%;
}
.container {
	width :50% !important;
	padding-top:100px;
}
.border-container{
	background-color: #f5f2f0;
	border: solid 1px rgba(51,51,51,0.12);
}
.login-container {
	height: 200px;
	margin-top: 11%;
	margin-left: 5%;
	margin-right: 7%;
	margin-bottom: 5%;
}
.input-field {
	margin-bottom: 10px;
}
.button {
	float: right;
}