nav {
	width: 100% !important;
}
.container {
	width :90% !important;
	padding-top:20px;
}
.border-container{
	background-color: #f5f2f0;
	border: solid 1px rgba(51,51,51,0.12);
}
.login-container {
	height: 200px;
	margin-top: 11%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
}
.input-field {
	margin-bottom: 10px;
}

