@media only screen and (min-width: 992px) {
	nav {
		width: 80% !important;
		margin-left: 10%;
	}

	.form-container{
	width: 80%;
	margin-left: 10%;
	}

	.input-container{
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 3%;
	}

	.border-container{
	background-color: #f5f2f0;
	border: solid 1px rgba(51,51,51,0.12);
	margin-top: 50px;
	width: 60%;
	margin-left:20%;
	float:left;
	}

	.input-field{
	margin-bottom:20px;
	}

	#number{
	margin-left:-1px;
	}

	.chart-container {
	width: 57%;
	border: solid 1px rgba(51,51,51,0.12);
	background-color: #E8E8E8;
	float:right;
	margin-top: 13%;
	display:none;
	}

	#dbBtn{
	visibility: hidden;
}

.msg-container{
	background-color: #f5f2f0;
	padding-left:10px;
	padding-right: 10px;
	padding-bottom: 30px;
	margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
h3{
	padding-top: 10px;
}


}	