nav {
	width:100% !important;
	margin-left:0;
}

.form-container{
	width: 100%;
	margin-left: 0;
}

.input-container{
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 2%;
}

.border-container{
	background-color: #f5f2f0;
	border: solid 1px rgba(51,51,51,0.12);
	margin-top: 20px;
	width: 100%;
}

.input-field{
	margin-bottom:20px;
}

#number{
	margin-left:-1px;
}
.msg-container{
	background-color: #f5f2f0;
	margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.chart-container {
	width: 57%;
	border: solid 1px rgba(51,51,51,0.12);
	border-radius: 5px;
	background-color: #E8E8E8;
	float:right;
	margin-top: 13%;
	display:none;
}

#dbBtn{
	visibility:hidden;
}


